PORT=8080

DB_HOST=localhost
DB_PORT=1234
DB_USER=abhinanpn
DB_PASSWORD=admin
DB_NAME=unvocal
DB_SSLMODE=disable

DB_URL=postgres://abhinanpn:admin@localhost:1234/unvocal?sslmode=disable
# DB_URL=postgres://postgres:pass@localhost:1234/unvocal?sslmode=disable

# Before run air make the permission the shell script file
# command chmod +x scripts/dev-build.sh



# Before pushing code
# go fmt ./...
# go vet ./...
# go test ./...

# In CI/CD (GitHub Actions)
# go fmt ./...
# go vet ./...
# go test ./...
# go build ./...


# Then, whenever you're ready to commit:
# ./scripts/check.sh